# Build artifacts
**/build/
**/app/
**/obj/
**/bin/
**/others/

# Object files
*.o
*.obj

# Compilers
*.d
*.gcno
*.gcda

# Generated dependency files
**/*.d

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj*

# Editor temp files
*~
*.swp
*.tmp
*.log
.DS_Store
Thumbs.db